<h1>Privacy Policy</h1>
<p class="lead">Our Privacy Policy will be written when someone offers to write it.</p>
<p>For now just now that we will not share your information without your permission.</p>
