<div class="row">
  <div class="col-md-8">
    <h1>Latest Posts</h1>
    <hr>

    <% @posts.each do |post| %>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p><%= post.created_at.strftime('%B %d, %Y') %> by <%= post.author %></p>
    <% end %>
  </div>
</div>
